html {
  background-color: #fff;
  color: #222;
  font-size: 150%;
  height: 100%;
}

@media only screen and (max-width: 700px) {
  html {
    font-size: 100%;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100%;
}

* {
  margin: 0;
}

a {
  color: initial;
  text-decoration: none;
}

.site {
  width: calc(100% - 2rem);
  margin: auto;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100% - 10rem);
}

.logo {
  opacity: 0;
  width: 6rem;
  height: auto;
  will-change: transform;
}

.headline {
  text-align: center;
  line-height: 1.3;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 30px;
}

.headline span {
  opacity: 0;
  display: inline-block;
  will-change: transform;
}

.google {
  opacity: 0;
  background-color: #fff;
  padding: 0 15px 0 10px;
  height: 50px;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  font-size: 17px;
  margin-top: 5rem;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.13);
  align-self: center;
  transition: box-shadow 300ms ease;

  &:hover {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
  }
}

.google::before {
  content: '';
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url('/google.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  vertical-align: middle;
  margin-right: 0.3rem;
}
